body{
	background: #D3D3D3;
	font-family: Helvetica;
	color:	#0B0B45;
}
h1{
	font-size: xx-large;
}
ul{
	list-style-type: square;
}

.center {
	text-align: center;
}
	
.header{
	text-shadow: 1px 1px #8B4000;
}

.important{
	text-decoration: underline;
}
@media(min-width:468px){
.Container1 {
	display: flex;
	justify-content:flex-start;
}
.Container2 {
	display: flex;
	justify-content:flex-start;
}
}
.Work-1 {
	width: 49%;
	order: 1;
	flex-direction: column;
	border:1px #ccc solid;
    padding:10px;
}

.Work-2 {
	width: 49%;
	order: 2;
	flex-direction: column;
	border:1px #ccc solid;
    padding:10px;
}

.Work-3 {
	width: 49%;
	order: 1;
	flex-direction: column;
	border:1px #ccc solid;
    padding:10px;
}

.Work-4 {
	width: 49%;
	order: 2;
	flex-direction: column;
	border:1px #ccc solid;
    padding:10px;
}