body{
	background: #D3D3D3;
	font-family: Helvetica;
	color:	#0B0B45;
}
h1{
	font-size: xx-large;
}
ul{
	list-style-type: square;
}

.center {
	text-align: center;
}
	


.important{
	text-decoration: underline;
}


